mat-toolbar{
    background: #004a9f;
    color: white;
}

mat-sidenav{
    margin: 16px;
    width: 200px;
    border-right: none;
    background: #002b5c;
    color: white;
    border-radius: 10px;
    padding: 16px;
    text-align: center;
}

mat-sidenav-container{
    height: calc(100vh - 65px);
}
.content{
    height: calc(100vh - 98px);
    margin: 16px;
    margin-left: 32px;
    display: flex;
 
    font-size: 2rem;
    color: rgb(148, 148, 148);

    border-radius: 10px;

}
.menu-button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    margin-bottom: 15px;
    margin-top: 15px;

    mat-icon{
    margin-right: 8px;}
}
.img{
    margin: 20px;
    max-width: 100px;
    border-radius: 50%;
    
}
.designation{
    margin-bottom: 30px;
    font-size: 0.80rem;
}
