
<mat-toolbar>
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
        <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container style="background-color: rgb(255, 255, 255);">
    <mat-sidenav #sidenav="matSidenav">

        <img class="img" src="../assets/img/foto.jpg">
        <h4 class="name"> Francini Luitz</h4>
        <p class="designation"> Desenvolvedora de Sistema</p>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button"  routerLink="/home">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>
        <button mat-button class="menu-button" routerLink="/experiencia">
            <mat-icon>work</mat-icon>
            <span>Experiência</span>
        </button>
        <button mat-button class="menu-button" routerLink="/habilidade" >
            <mat-icon>list_alt</mat-icon>
            <span>Habilidade</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-button class="menu-button" routerLink="/link" >
            <mat-icon>link</mat-icon>
            <span>Links</span>
        </button>
    </mat-sidenav>
    <mat-sidenav-content >
        <div class="content mat-elevation-z4">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

