<span class="title">Experiência</span>
<div class="content">
    <mat-card class="card" style="background: white;">
        <mat-card-header>
          
          <mat-card-subtitle class="textoInfo">Suport Técnico | Webby Internet</mat-card-subtitle>
          <mat-card-subtitle class="textoInfo1"> Jun 2021 até Out 2021</mat-card-subtitle>
          
          <mat-card-subtitle class="textoInfo2">Atendimento ao cliente por telefone, oferecendo suporte na parte de
            configuração de roteadores, ONU e repetidores, fazendo a liberação de
            portas e IPs fixos.
            </mat-card-subtitle>
            <div class="link"><a class="link1" href="https://webbyinternet.com.br/" target="_blank" rel="noopener noreferrer">Empresa</a></div>
                
            
        </mat-card-header>
  

    </mat-card>
    <mat-card class="card" style="background: white; margin-top: 15px; ">
        <mat-card-header>
          <mat-card-subtitle class="textoInfo">Desenvolvedora de Sistemas | Jn Moura Sistema de Gestão</mat-card-subtitle>
          <mat-card-subtitle class="textoInfo1"> Out 2021 até Jan 2023</mat-card-subtitle>
          
          <mat-card-subtitle class="textoInfo2">Desenvolvimento focado em criar novas funcionalidades, correções,
            melhorias e criações de novos sistemas WEB, tanto Front-End e Back-End
            </mat-card-subtitle>
            <div class="link"><a class="link1" href="https://jnmoura.com.br/pt-br/" target="_blank" rel="noopener noreferrer">Empresa</a></div>
               
        </mat-card-header>
  

    </mat-card>
</div>

