
<!-- ng g c nomepasta/nomearquivo -->
<div class="content">
    <span >Informações:</span>
    <mat-card class="card">
        <mat-icon class="icon" >phone</mat-icon>
        <mat-card-content class="info">(14) 99811-8142</mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-icon class="icon" >email</mat-icon>
        <mat-card-content class="info">franciniluitz2@gmail.com</mat-card-content>
    </mat-card>

    <mat-card class="card">
        <mat-icon class="icon" >location_on</mat-icon>
        <mat-card-content class="info">Ourinhos - 19911200 | Rua Vitório Christoni, 1150</mat-card-content>
    </mat-card>
    <mat-card class="card" style="background: white;">
        <mat-card-header>
          <mat-card-title style="font-size: 30px; margin-bottom: 10px;">Sobre mim:</mat-card-title>
          <mat-card-subtitle class="textoInfo">Sou desenvolvedora de Softwares formada em Tecnologia em Jogos Digitais, tenho um
            <br> artigo publicado sobre realidade virtual e com experiência a mais de 1(um) ano na área de
            <br> desenvolvimento de sistemas tanto Front-end e Back-end mais conhecido como fullstack.
          </mat-card-subtitle>
        </mat-card-header>
       
    </mat-card>
    <mat-card class="card" style="background: white;">
        <mat-card-header>
          <mat-card-title style="font-size: 30px; margin-bottom: 10px;">Educação:</mat-card-title>
          <mat-card-subtitle class="textoInfo">2016-2018 | Tecnóloga em Tecnologia em jogos Digitais | Programação</mat-card-subtitle>
          <mat-card-subtitle class="textoInfo1">FATEC - Faculdade de Tecnologia</mat-card-subtitle>
          <mat-card-subtitle class="textoInfo2">Curso ligado a tecnologias em Jogos digitais, com ênfase em programação
            usando diferentes softwares.
            </mat-card-subtitle>
        </mat-card-header>
       
    </mat-card>
    
  

</div>

