<span class="title">Conhecimentos:</span>
<div class="cards">
    
    <mat-card class="example-card" >
        <mat-card-content>
          <h2 class="example-h2">HTML e CSS</h2>
          <mat-progress-bar  [color]="color" mode="determinate" value="75"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
    
    <mat-card class="example-card" >
        <mat-card-content>
          <h2 class="example-h2">Typescript</h2>
          <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" >
        <mat-card-content>
          <h2 class="example-h2">Javascript</h2>
          <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" >
        <mat-card-content>
          <h2 class="example-h2">Angular</h2>
          <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" >
        <mat-card-content>
          <h2 class="example-h2">VB.NET</h2>
          <mat-progress-bar mode="determinate" value="25"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" >
        <mat-card-content>
          <h2 class="example-h2">C#</h2>
          <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" >
        <mat-card-content>
          <h2 class="example-h2">API Rest</h2>
          <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" >
        <mat-card-content>
          <h2 class="example-h2">Entity framework
        </h2>
          <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" >
        <mat-card-content>
          <h2 class="example-h2">API Rest</h2>
          <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" >
        <mat-card-content>
          <h2 class="example-h2">LINQ
        </h2>
          <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
        </mat-card-content>
    </mat-card>
    <mat-card class="example-card" >
        <mat-card-content>
          <h2 class="example-h2">SQL e Postgresql</h2>
          <mat-progress-bar mode="determinate" value="30"></mat-progress-bar>
        </mat-card-content>
    </mat-card>

</div>
